@import url('./styles.css');

.form-container {
  max-width: 400px;
  width: 40vw;
  border: 1px solid var(--lss-white);
  border-radius: 22px;
  padding: 20px 20px 5px 20px;
  margin-bottom: 20px;
}

.form-slide {
  display: none;
  flex-direction: column;
  row-gap: 10px;
}

.form-slide.show {
  display: flex;
}

.form-slide .controls {
  display: flex;
  align-items: center;
}

.next-btn, .back-btn {
  width: 168px;
  height: 34px;
}

.right {
  margin-left: auto;
}

.left {
  margin-right: auto;
}

