<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="static/images/rjcb-logo.png" type="image/x-icon">
  <title>Create Account | RJCB</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="static/styles/login.css">
  <script src="static/scripts/login.js"></script>
</head>
<body>
  <div class="container-fluid vh-100 w-100 d-flex justify-content-center align-items-center">
  
    <div class="form-container">
      <div class="logo">
        <img src="static/images/rjcb-logo.png">
        <h1>RJCB Land Surveying</h1>
      </div>
      <form class="d-flex flex-column" action="/register-process" method="post">
        <input class="lss-cred-input" type="email" name="email" placeholder="Email">
        <input class="lss-cred-input" type="password" name="password" placeholder="Password">
        <div id="error-message" class="alert alert-danger" style="display: none;"></div>
        <input class="lss-blue-btn" type="submit" value="Register">
        <a class="" href="login">Login Account</a>
      </form>
    </div>
  </div>
</body>
</html>